


body {
	font-family: Calibri, serif;
	
	margin: 0 auto;
	background: #000000;
	background-attachment: fixed;
    background-size: cover;
	color: #ffffff;
	


	/*

display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

	*/
}

.page{
	
    margin: 0 auto;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
	width: 80%;
}

.section{
	margin        : 0;
	padding       : 0;
	display       : flex;
	flex-direction: column;
	align-items   : center;
}

.content{

margin: 0 auto;
padding: 0 ;
width: 80%;

display: flex;
flex-direction: column;
    align-content: center;
    align-items: center;
	
	/*
    display: grid;
    justify-content: center;
    align-content: stretch;
    grid-template-columns: minmax(335px, 264px) minmax(175px, 342px);
    align-items: center;
    justify-items: stretch;
	*/
}


.img__div{
	margin: 0 ;
padding: 0 ;
color: white;
display       : flex;
	flex-direction: row;
	align-items   : center;
	
}

.info{
	margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    color: white;
	align-items: center;
	margin-bottom: 27px;
	margin-top: 17px;

	
}


.stats__subtitle{
	margin:0;
	padding: 0;
	margin-bottom: 10px;
	margin-top: 10px;
}


.game{
	margin: 0 ;
    padding: 0;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.points{
	margin: 0 ;
    padding: 0;
	display: flex;
	flex-direction: row;
	align-items: center;
}



.game__button{
	margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    background: #1c1e20;;
    width: 25px;
    height: 25px;
    border: 2px solid #ffffff;
    border-radius: 2px;
    transition: opacity ease-in-out 0.3s;
    cursor: pointer;
    background-image: url('../images/vector_add-button.svg');
    background-repeat: no-repeat;
    background-position: center;

}

.points__button{
	margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    background: #1c1e20;;
    width: 25px;
    height: 25px;
    border: 2px solid #ffffff;
    border-radius: 2px;
    transition: opacity ease-in-out 0.3s;
    cursor: pointer;
    background-image: url('../images/vector_add-button.svg');
    background-repeat: no-repeat;
    background-position: center;
}


.number__button:hover {
    opacity: 0.6;
}

.number__button:active {
    opacity: 1;
}



.game__text{
	margin:0;
	padding: 0;
	width: 40px;
    height: 20px;
	margin-right: 10px;
	background: #1c1e20;
	color: white;
	text-align: center;
	border: 2px solid #ffffff;
	border-radius: 5px;
}

.points__text{
	margin:0;
	padding: 0;
	width: 40px;
    height: 20px;
	margin-right: 10px;
	background: #1c1e20;
	color: white;
	border-radius: 5px;
	text-align: center;
	border: 2px solid #ffffff;
}

.element{
	margin: 0 auto;
    padding: 0;
	display: flex;
    flex-direction: column;
    align-items: center;
	margin-top: 30px;
	
}

.clear {
	clear: both;
}
.information {
	position: absolute;
	top: 500px;
	width: 100%;
}
.information > ul > li {
	margin-top: 14px;
}
.catalog {
	max-width: 100%;
	user-select: none;
	
}
.cell {
	position: relative;
	float: left;
	width: 100px;
	height: 100px;
	background-color: #ddd;
	border: 4px ridge #d0733d;
	margin-left: -0px;
	box-sizing: border-box;
	cursor: pointer;

	display: flex;
	align-items: center;
	justify-content: center;
}
.cell.active {
	background-color: #dee;
}
.cell.not-slot {
	float: right;
	border-color: #3d93d0;
}
.cell img {
	max-width: 100%;
	filter: drop-shadow(3px 3px 0 #50a04e);
}
.cell img.inverted {
	transform: scaleY(-1);
	filter: drop-shadow(3px -3px 0 #900a);
}
.cell .count {
	position: absolute;
	top: -4px;
	right: -2px;
	width: 20px;
	height: 20px;
	/*border-width: 5px;*/
	/*border-style: double;*/
	border-width: 1px;
	border-style: solid;
	border-radius: 50%;
	border-color: #fff;
	background: #6857d8;
	color: #fff;
	font-family: monospace;
	font-size: 16px;
	line-height: 22px;
	font-weight: bold;
	text-align: center;
	text-shadow: 1px 1px 0 #000;
}
.cell .controls {
	box-sizing: border-box;
	border-radius: 5px;
	width: 100px;
	background: #eed;
	position: absolute;
	top: calc(var(--cell-width) - 4px);
	left: -18px;
	font-size: 32px;
	font-family: monospace;
	text-align: center;
	z-index: 1;
	box-shadow: 1px 1px 0 #20262E;
}
.cell .controls::before {
	display: block;
	top: 13px;
	left: 50%;
	transform: translate(-50%, calc(-100% - 5px)) rotate(45deg);

	background-color: #eed;
	content: ' ';
	position: absolute;
	width: 15px;
	height: 15px;
	z-index: -1;
}
.cell .controls a {
	color: #20262E;
	text-decoration: none;
	font-weight: bold;
}
.cell .controls .remove {
	color: #a70000;
}
.cell .controls *:hover {
	color: #FF0076;
}
.add-cell {
	cursor: pointer;
	float: left;
	margin: 15px 0 10px 4px;
	width: 32px;
	height: 32px;
	border-width: 5px;
	border-radius: 50%;
	border-color: #ddd;
	border-style: double;
	background: #2c7523;
	color: #eee;
	font-family: monospace;
	font-size: 16px;
	text-align: center;
	line-height: 16px;
	text-shadow: 1px 1px 0 #000;
	/*
	visibility: hidden;
	*/
}
.add-cell:hover {
	background: #3a982f;
}
.add-block:hover .add-cell {
	visibility: visible;
}
.add-cell:focus {
	outline: none;
}
.selector {
	user-select: none;
	display: none;
	margin-top: 10px;
	background: #bbb;
	height: 247px;
	width: 150px;
	overflow-y: scroll;
	
}
.selector ul {
	margin: 0;
	padding: 0;
}
.selector li {
	list-style-type: none;
	float: left;
	width: 63px;
	height:60px;
	box-sizing: border-box;
	
}
.selector li:hover {
	background: #ddd;
}
.selector li img {
	width: 100%;
}






.stats{
	color: white;
}

.heroes__img{
margin: 0;
padding: 0;
max-width: 200px;
max-height: 200px;
background-size: cover;
background-repeat: no-repeat;

}


.main{
	/*
	display: flex;
	flex-direction: row;
    color:white;
    gap:50px;
    flex-wrap: wrap;
    align-items: flex-end;
	*/
	color:white;
	display: grid;
    grid-template-columns: repeat(5, 1fr); /* Равномерное разделение на 4 столбца */
    gap: 20px; /* Промежуток между элементами */
    align-items: center; 
	width: 1200px;
}
.number{
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
}

.number__title{
	margin: 0;
	padding: 0;
}



.number__subtitle{
	margin: 0;
padding: 0;
}


.mission{
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;

}

.mission__form{
	margin: 0;
	padding: 0;
}

.mission__icon{
	margin: 0;
	padding: 0;
}

.game-text{
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
}

.game-text__form{
	margin: 0;
	padding: 0;
}

.game-text__title{
	margin: 0;
	padding: 0;
}

.status{
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;

}

.status__form{
	margin: 0;
	padding: 0;
}

.status__text{
	margin: 0;
	padding: 0;
}

.comment{
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;

}

.popup {
    margin: 0 auto;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: visibility .5s,opacity .5s linear;
    visibility: hidden;
    
}


.popup::before {
    content: "";
    background: #000;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    
}



.popup_opened {
    opacity: 1;
    visibility: visible;
    
}




.popup__container{
	position: relative;
    padding-top: 22px;
    padding-bottom: 25px;
    padding-left: 22px;
    padding-right: 22px;
    background: #ffffff;
	width: 228px;
    border-radius: 10px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
}

.popup__title{
	margin: 0;
    max-width: 238px;
    margin-bottom: 39px;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
}

.popup__form{
	margin: 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.popup__input{
	margin: 0;
    padding: 0;
    border: none;
    border-bottom: 1px solid rgb(0,0,0, 0.2);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    min-width: 238px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding-bottom: 9px;
}




.popup__save-btn{
	all: unset;
    margin: 0;
    padding: 0;
    width: 238px;
    height: 46px;
    color: white;
    background: #000000;
    border-radius: 2px;
    transition: opacity ease-in-out 0.3s;
    cursor: pointer;
    margin-top: 15px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
}

.popup__form-button-save:hover {
    opacity: 0.8;
}

.popup__close{
	all: unset;
    position: absolute;
    top: -33px;
    right: -27px;
    background-size: contain;
    width: 20px;
    height: 20px;
    transition: opacity ease-in-out 0.3s;
    background-image: url("../images/Close\ Icon.svg");
    cursor: pointer;
}

.popup__close:hover {
    opacity: 0.6;
}

.popup__close:active {
    opacity: 1;
}


.list-kuk{
	margin-top: 27px;
	color     : white;
	display   : grid;

	gap        : 20px;
	align-items: start;
	width: 100%;
}



.add-kuk__text{
	cursor       : pointer;
	float        : left;
	margin       : 15px 0 10px 4px;
	width        : 32px;
	height       : 32px;
	border-width : 5px;
	border-radius: 50%;
	border-color : #ddd;
	border-style : double;
	background   : #9f14c5;
	color        : #eee;
	font-family  : monospace;
	font-size    : 16px;
	text-align   : center;
	line-height  : 16px;
	text-shadow  : 1px 1px 0 #000;
}

.add-kuk__text:hover {
	background: #000000;
}

.add-kuk__text:focus {
	outline: none;
}


.list-kuk__check{
	margin-top           : 27px;
	color                : white;
	display              : grid;
	grid-template-columns: repeat(5, 1fr);
	gap                  : 20px;
	align-items          : center;
	min-width            : 610px;
	position             : relative;
}


.number__subtitle_kuk{
	margin: 0;
	padding: 0;
}

.mission__icon_kuk{
	margin: 0;
	padding: 0;
	width  : 83px;
}

.game-text__icon_kuk{
	margin: 0;
	padding: 0;
}


.status__text_kuk{
	margin: 0;
	padding: 0;
	width  : 50px;
	height : 50px;
}


.comment__text_kuk{
	margin: 0;
	padding: 0;
}

.list-kuk__check-deletebtn{

	padding          : 0;
	margin           : 0;
	background-image : url('../images/group__delete.svg');
	background-color : transparent;
	background-size  : contain;
	background-repeat: no-repeat;
	position         : absolute;
	left: 1280px;
	border           : none;
	width            : 18px;
	height           : 19px;
	overflow         : hidden;
}

.list-kuk__check-deletebtn:hover {
	cursor : pointer;
	opacity: 0.6;
}

.popup__input_type_day {
	padding          : 0;
	margin           : 0;
}

.popup__input_type_play {
	padding          : 0;
	margin           : 0;
}

.popup__input_type_comm {
	padding          : 0;
	margin           : 0;
}

.popup__link {
	padding          : 0;
	margin           : 0;
}

.popup__container_type_stats {
	position      : relative;
	padding-top   : 22px;
	padding-bottom: 25px;
	padding-left  : 22px;
	padding-right : 22px;
	background    : #ffffff;
	width         : 400px;
	border-radius : 19px;
	box-shadow    : 0px 0px 25px rgba(0, 0, 0, 0.15);
	

}

.popup__form_type_stats {
	padding          : 0;
	margin           : 0;
}

.popup__close_type_stats {
	padding          : 0;
	margin           : 0;
}

.popup__save-btn_type_stats{
	all: unset;
	padding          : 0;
	margin           : 0;
    width: 400px;
    height: 46px;
    color: white;
    background: #000000;
    border-radius: 2px;
    transition: opacity ease-in-out 0.3s;
    cursor: pointer;
    margin-top: 15px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
}