@font-face 
{
    font-family:BlenderProBook;
    font-style:normal;
    font-weight:400;
    src:url(fonts/BlenderProBook.woff2) format("woff2");
}

@font-face 
{
    font-family: Oxanium;
    font-style: normal;
    font-weight: 400;
    src: url(fonts/Oxanium.woff2) format('woff2');
}

@font-face 
{
    font-family: Cyberpunk;
    src: url(fonts/Cyberpunk.otf) format('opentype');
}









.root {
    --bg: var(--black);
    background-color: var(--black);
    font-family: 'BlenderProBook','Arial', 'Oxanium', 'Cyberpunk', serif;
    color      : #eee;
  /*  background-image: url("../images/pic-2.jpg"); */
    background-attachment: fixed;
    background-size: cover;
    margin: 0 auto;
    /*
    position: absolute;
    top: 284px;
    left: 462px;
        display: grid;
        grid-template-areas:
            "a a a"
            "b b b"
            "c . ."
        ;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        font-family: calibri, serif;
        */
}

.page {
    min-width      : 1100px;
    max-width      : 1600px;
    margin         : 0 auto;
   

}

.element{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 325px;
}


.element__button{
all: unset;
	padding          : 0;
	margin           : 0;
    width: 160px;
    height: 46px;
    color: white;
    background: rgb(165, 25, 172);
    border-radius: 10px;
    transition: opacity ease-in-out 0.3s;
    cursor: pointer;
    margin-top: 15px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    opacity: 1;
    transition: opacity 0.5s;
}

.element__button:hover{
    opacity: 0.8;
    background-color: rgb(77, 44, 99);

}

.element__button:active{
    opacity: 1;

}


.heroes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 95px;
}
.heroes__bob {
   
    padding: 5px 10px;
    background: rgba(136, 5, 224, 0.8);
    border-radius: 15px;
    font-size: 20px;
    box-shadow: 1px 1px 0 #bbb;
    text-decoration: none;
    color: white;
    margin-bottom: 20px;

    width: 200px;
    height: 200px;
    background-image: url("../images/streamers/Bob.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
    transition: opacity 0.5s;
}
.heroes__miron {
    padding: 5px 10px;
    background: rgba(136, 5, 224, 0.8);
    border-radius: 15px;
    font-size: 20px;
    box-shadow: 1px 1px 0 #bbb;
    text-decoration: none;
    color: white;
margin-bottom: 20px;
    width: 200px;
    height: 200px;
    background-image: url("../images/streamers/Bob.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
    transition: opacity 0.5s;
}
.heroes__musheg {
    padding: 5px 10px;
    background: rgba(136, 5, 224, 0.8);
    border-radius: 15px;
    font-size: 20px;
    box-shadow: 1px 1px 0 #bbb;
    text-decoration: none;
    color: white;
    margin-bottom: 20px;

    width: 200px;
    height: 200px;
    background-image: url("../images/streamers/Bob.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
    transition: opacity 0.5s;
}
.heroes__sanya {
    padding: 5px 10px;
    background: rgba(136, 5, 224, 0.8);
    border-radius: 15px;
    font-size: 20px;
    box-shadow: 1px 1px 0 #bbb;
    text-decoration: none;
    color: white;
    margin-bottom: 20px;

    width: 200px;
    height: 200px;
    background-image: url("../images/streamers/sanya.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
    transition: opacity 0.5s;
}
.heroes__max {
    padding: 5px 10px;
    background: rgba(136, 5, 224, 0.8);
    border-radius: 15px;
    font-size: 20px;
    box-shadow: 1px 1px 0 #bbb;
    text-decoration: none;
    color: white;
    margin-bottom: 20px;

    width: 200px;
    height: 200px;
    background-image: url("../images/streamers/max.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
    transition: opacity 0.5s;
}
.heroes__kuka {
    padding: 5px 10px;
    background: rgba(136, 5, 224, 0.8);
    border-radius: 15px;
    font-size: 20px;
    box-shadow: 1px 1px 0 #bbb;
    text-decoration: none;
    color: white;
    margin-bottom: 20px;

    width: 200px;
    height: 200px;
    background-image: url("../images/streamers/kuka.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
    transition: opacity 0.5s;
}

.heroes__alan {
    padding: 5px 10px;
    background: rgba(136, 5, 224, 0.8);
    border-radius: 15px;
    font-size: 20px;
    box-shadow: 1px 1px 0 #bbb;
    text-decoration: none;
    color: white;
    margin-bottom: 20px;

    width: 200px;
    height: 200px;
    background-image: url("../images/streamers/Bob.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
    transition: opacity 0.5s;
}


.heroes__kuka:hover {
    opacity: 0.8;
}
.heroes__bob:hover {
    opacity: 0.8;
}

.heroes__miron:hover {
    opacity: 0.8;
}

.heroes__musheg:hover {
    opacity: 0.8;
}

.heroes__sanya:hover {
    opacity: 0.8;
}

.heroes__max:hover {
    opacity: 0.8;
}

.heroes__alan:hover {
    opacity: 0.8;
}


.popup{
    margin: 0 auto;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    font-family: 'BlenderProBook','Arial', 'Oxanium', 'Cyberpunk', serif;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: visibility .5s,opacity .5s linear;
    visibility: hidden;
}

.popup::before {
    content: "";
    background: #000;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    
}



.popup_opened {
    opacity: 1;
    visibility: visible;
    
}

.popup__container{
    position: relative;
    padding-top: 22px;
    padding-bottom: 25px;
    padding-left: 22px;
    padding-right: 22px;
    background: #000000;
    color: #ece2e2;
    width: 713px;
    border-radius : 19px;
	box-shadow    : 0px 0px 25px rgba(0, 0, 0, 0.15);
}

.popup__title{
    margin: 0;
    max-width: 238px;
    padding-bottom: 12px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #fd0130;
    margin-left:310px;
}

.popup__subtitle{
    margin: 0 ;
        max-width: 300px;
    margin-bottom: 39px;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 22px;
    color: #fd0130;
    margin-left:295px;

}

.popup__img{
    margin: 0;
padding: 0;
width: 230px;
animation: cyber-glitch-0 5s linear infinite;

}

.popup__stats{
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.popup__theme{
    margin: 0;
    padding: 0;
    padding-bottom: 10px;
}

.popup__theme_sec{
    margin: 0;
    padding: 0;
    padding-bottom: 10px;

}

.popup__close{
	all: unset;
    position: absolute;
    top: 5px;
        right: -27px;
    background-size: contain;
    width: 20px;
    height: 20px;
    transition: opacity ease-in-out 0.3s;
    background-image: url("../images/Close\ Icon.svg");
    cursor: pointer;
}

.popup__close:hover {
    opacity: 0.6;
}

.popup__close:active {
    opacity: 1;
}


.popup__stats-age{
    margin: 0;
    padding: 0;
    font-weight: 700;
    border-bottom: 1px solid #000000;
    width: 463px;
}
.popup__stats-name{
    margin: 0;
    padding: 0;
    font-weight: 700;

    border-bottom: 1px solid #000000;
}

.popup__stats-cli{
    margin: 0;
    padding: 0;
    font-weight: 700;

    border-bottom: 1px solid #000000;
}
.popup__stats-weapon{
    margin: 0;
    padding: 0;
    font-weight: 700;

    border-bottom: 1px solid #000000;

}
.popup__stats-coin{
    margin: 0;
    padding: 0;
    font-weight: 700;

    border-bottom: 1px solid #000000;
}


.popup__stats-age_span{
    margin: 0;
    padding: 0;

    padding-left: 195px;
}
.popup__stats-name_span{
    margin: 0;
    padding: 0;
    padding-left: 222px;
}

.popup__stats-cli_span{
    margin: 0;
    padding: 0;
    padding-left: 185px;
}
.popup__stats-weapon_span{
    margin: 0;
    padding: 0;
    padding-left: 156px;
}
.popup__stats-coin_span{
    margin: 0;
    padding: 0;
    padding-left: 138px;
}

.popup__form{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;
    background: #fd0130;
    color: #000;
    
}

.popup__line{
    margin: 16px 0px;
    height: 8px;
    background-color: #fd0130;
    border: none;
    clip-path: polygon(0px 0px, 100% 0px, 100% 2px, 88px 2px, 80px 100%, 0% 100%);
}